<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 order-md-1 order-sm-2 mt-4">

    <!-- Fine Circle Responsive Image -->
    <!-- <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated img-fluid" data-wow-delay=".1s">
      </div>
    </div> -->

  </div>
<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-6 col-md-6 order-md-2 order-sm-1 text-left mt-4">
    <p class="wow animated slideInRight" data-wow-delay=".01s">
        Hello there! I am Ivan :vulcan_salute:
    </p>
     <p class="wow animated slideInRight" data-wow-delay=".03s">
        Welcome to my <a href="/blog">blog!</a> <br>I am here to improve my knowledge of CS and software development, and of course to share this journey with you.
    </p>
    <p class="wow animated slideInRight" data-wow-delay=".09s">
        The topics you can expect to find here include programming in the small and programming in the large,
        system design, automation, soft skills, and even a bit of philosophical musings.
    </p>
    <p class="wow animated slideInRight" data-wow-delay=".11s">
        Join me as we explore the remarkable world of IT with open mind and heart.
        Peace!
    </p>
    <p class="wow animated slideInRight" data-wow-delay=".15s">
        p.s. feel free to reach me out via social media or email.
        {% include social.html %}
    </p>

  </div>
</div>