<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 order-md-1 order-sm-2 mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated img-fluid" data-wow-delay=".1s">
      </div>
    </div>

  </div>
  <div class="col-lg-4 col-md-6 order-md-2 order-sm-1 text-left mt-4">
    <p class="wow animated slideInRight" data-wow-delay=".01s">
        Hello there! I am Ivan :vulcan_salute:
    </p>
     <p class="wow animated slideInRight" data-wow-delay=".03s">
        Welcome to my blog! I am here to improve my knowledge of Dev and Ops and share this journey with you.
    </p>
    <p class="wow animated slideInRight" data-wow-delay=".09s">
        The topics you can expect to find here include programming in the small and programming in the large,
        system design, automation, soft skills, and even a bit of philosophical musings.
    </p>
    <p class="wow animated slideInRight" data-wow-delay=".11s">
        Join me as we explore the remarkable world of IT with a curious and open mindset and heart.
        Peace!
    </p>

  </div>


</div>
  <div class="row justify-content-center align-items-center p-4">
    <div class="col-md-12 text-center">
      <h4>Check out my CV Here!</h4>
    <div class="mt-4">
      <a href="/about/"><button type="button" class="btn align-items-center btn-primary mr-2">Let's go!</button></a>
    </div>
  </div>
</div>