<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 order-md-1 order-sm-2 mt-4">

    <!-- Fine Circle Responsive Image -->
    <!-- <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated img-fluid" data-wow-delay=".1s">
      </div>
    </div> -->

  </div>
<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-6 col-md-6 order-md-2 order-sm-1 text-left mt-4">
    <p class="wow animated fadeIn" data-wow-delay=".01s">
        Hello there! Welcome to my <a href="/blog">blog</a>! I'm Ivan 🖖
    </p>
     <p class="wow animated fadeIn" data-wow-delay=".05s">
        Dive into the world of software architecture and system design with me.

    </p>
    <p class="wow animated fadeIn" data-wow-delay=".11s">
        Discover the system design nuances of creating robust applications and architecting high-performance systems.
        Whether you're a developer or a tech enthusiast, join me on this enlightening journey.
    </p>
    <p class="wow animated fadeIn" data-wow-delay=".15s">
        Let's unravel the complexities together and shape the future of software engineering.
        Peace!
    </p>
    <p class="wow animated fadeIn" data-wow-delay=".20s">
        P.S. Connect with me through social media or email, the links are down below. Happy reading! 😊
    </p>
    <p >
        {% include social_big.html %}
    </p>
  </div>
</div>