---
import { DEFAULT_LANGUAGE } from "@utils/language";
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Redirecting...</title>
  <meta http-equiv="refresh" content={`0;url=/${DEFAULT_LANGUAGE}`} />
  <script is:inline define:vars={{ defaultLang: DEFAULT_LANGUAGE }}>
    function getBrowserLanguage() {
      const savedLang = localStorage.getItem('preferredLanguage');
      if (savedLang && (savedLang === 'en' || savedLang === 'ru')) {
        return savedLang;
      }
      
      const browserLang = navigator.language || navigator.userLanguage;
      return browserLang && browserLang.toLowerCase().startsWith('ru') ? 'ru' : 'en';
    }

    const language = getBrowserLanguage();
    window.location.href = `/${language}`;
    
    localStorage.setItem('preferredLanguage', language);
  </script>
</head>
<body>
  <p>Redirecting to the site...</p>
</body>
</html> 