---
layout: default
title: Blog
weight: 2
permalink: /blog/
---


<div class="alert alert-danger col-lg-10 mx-auto mt-3" role="alert">
Well, well, well...looks like we have a bit of a situation here.
These are definitely not all of my blog posts, but don't panic just yet!
I'm on a mission to translate all of them from Russian to English.
It's a big task, I know, but I'm up for the challenge.
So hold tight and check back later, my dear reader, and you'll be in for a treat.
Thank you for your patience and understanding!
</div>
{% include blog/search.html %}
{% include blog/index.html %}
